<?xml version="1.0" encoding="utf-8" ?>
<Defs>

    <FirefliesTwoO.FFConfigDef>
        <defName>FF_Config</defName>

        <!-- MapComponent_FFNightlySpawning -->
        <allowedBiomes>
            <li>BorealForest</li>
            <li>TemperateForest</li>
            <li>TemperateSwamp</li>
            <li>TropicalRainforest</li>
            <li>TropicalSwamp</li>
            <li>AridShrubland</li>
            <li>Desert</li>
            <li>ExtremeDesert</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_RadiantPlains</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_DeliriousDunes</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_CrystallineFlats</li>
        </allowedBiomes>

        <particlesMaxCount>100</particlesMaxCount>
        <particleEmissionRate>40</particleEmissionRate>
        <particleLifetime>4</particleLifetime>
        <particleSizeFactor>0.3</particleSizeFactor>
        <startHour>19</startHour>
        <endHour>4</endHour>

        <!-- ParticleBuilder -->
        <shapeRandomDirectionAmount>0~360</shapeRandomDirectionAmount>
        <noiseOctaveCount>1</noiseOctaveCount>
        <noiseFrequency>1.5</noiseFrequency>
        <noisePositionAmount>0.33</noisePositionAmount>
        <noiseStrength>15</noiseStrength>
    </FirefliesTwoO.FFConfigDef>

</Defs>
