<?xml version="1.0" encoding="utf-8" ?>
<Defs>

    <FirefliesTwoO.FFConfigDef>
        <defName>FF_Config</defName>

        <!-- MapComponent_FFNightlySpawning -->
        <!-- if you patch into this, make sure the biome you're adding contains soil terrain (any kind of soil) -->
        <allowedBiomes>
            <li>BorealForest</li>
            <li>TemperateForest</li>
            <li>TemperateSwamp</li>
            <li>TropicalRainforest</li>
            <li>TropicalSwamp</li>
            <li>AridShrubland</li>
            <li>Desert</li>
            <li>ExtremeDesert</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_RadiantPlains</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_DeliriousDunes</li>
            <li MayRequire="Scurvyez.AlienBiomes">SZ_CrystallineFlats</li>
        </allowedBiomes>

        <!-- particlesMaxCountCurve.y = particlesMaxCountCurve.x * (1/2) -->
        <particlesMaxCountCurve>
            <points>
                <li>(24, 12)</li>
                <li>(49, 25)</li>
                <li>(74, 37)</li>
                <li>(99, 50)</li>
                <li>(149, 75)</li>
                <li>(249, 125)</li>
                <li>(349, 175)</li>
                <li>(449, 225)</li>
            </points>
        </particlesMaxCountCurve>

        <!-- particleEmissionRateCurve.y = particlesMaxCountCurve.y * (1/4) -->
        <particleEmissionRateCurve>
            <points>
                <li>(24, 4)</li>
                <li>(49, 6)</li>
                <li>(74, 9)</li>
                <li>(99, 12)</li>
                <li>(149, 19)</li>
                <li>(249, 31)</li>
                <li>(349, 44)</li>
                <li>(449, 56)</li>
            </points>
        </particleEmissionRateCurve>

        <particleLifetime>5</particleLifetime>
        <particleSizeFactor>0.3</particleSizeFactor>
        <startHour>19</startHour>
        <endHour>4</endHour>

        <!-- ParticleBuilder -->
        <shapeRandomDirectionAmount>0~360</shapeRandomDirectionAmount>
        <noiseOctaveCount>1</noiseOctaveCount>
        <noiseFrequency>1.5</noiseFrequency>
        <noisePositionAmount>0.33</noisePositionAmount>
        <noiseStrength>15</noiseStrength>
    </FirefliesTwoO.FFConfigDef>

</Defs>
